@charset "utf-8"
   @import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Oleo+Script'); 
    
    
    
    *{
        margin: 0;
        padding: 0;
        
}
#contenedor{
    
    widows: 100%;
    max-width: 1024px;
    margin: 100px auto;
 font-family: sans-serif;
    
}
#listado{
    display: block;
    width: 300px;
    height: 50px;
    margin: 10px auto;
    
    
}
#listado li{
    text-align: center;
    display: block;
    list-style: none;
    cursor: pointer;
    widows: 90px;
    height: 50px;
    margin: 0px 5px;
    line-height: 50px;
    float: left;
        
    }
#listado li:hover{
    background-color: rgba(204,204,204,1.00);
    
}
#listado li.active{
    background-color: rgba(0,0,0,1.00);
    color: white;
    
}

/*lista de imagenes*/

#portafolio{
    
    width: 100%;
    max-width:1024px;
    text-align: center;
    
}
.item{
    display: none;
    opacity:0;
    width: 20%;
    margin: 5px;
}
.item img{
    width: 100%;
 
    
    
}




/*medidas para PC*/
@media screen and(min-width:960px) {
    
   
    #contenedor  {
        width: 100%;
        margin: auto,
        
    }
        
    
    
    
}

/*medidas para Tablet*/

@media screen and (min-width:480px) and (max-width:960px){
    
   
    #contenedor  {
        width: 100%;
        margin: auto,
        
    }
    .item{
    width: 25%;
        
    }
       
    }



/*medidas para Movil*/

@media screen and (min-width:200px) and (max-width:480px)
{
    
    #contenedor{
        width: 90%;
        margin: auto;
        
    }
    
    .item{
        width: 95%;
    }
    
    
    
}
    